<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% if stprofile %}
{% for s in stprofile %}

<table>
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>DEPATRTMENT</th>
        <th>MOBILE NO</th>
    </tr>
    <tr>
        <td>{{s.name}}</td>
        <td>{{s.email}}</td>
        <td>{{s.department}}</td>
        <td>{{s.mobno}}</td>
        <td><a href="{%  url 'edit'  s.id   %}">Edit</a></td>
        <td><a href="{%  url 'delete' s.id   %}">Delete</a></td>
    </tr>
    {% endfor%}
</table>

{% else %}
<h1>No data </h1>
{% endif %}
</body>
</html>